{#
mogelijkheid om projecten op te roepen toe te voegen
mogelijkheid om andere content op te roepen en toe te voegen

#}
<!doctype html>
<html>
    <head>
        <title>CMS</title>
    </head>
    <link rel="stylesheet" href="Portfolio/css/styles.css"/>
    <body>
        <div class="container">
                  
            <h1>Projecten</h1>
            <p>klik op de naam om het project te zien</p>
           {#<pre>{{dump(projectenlijst)}}</pre>#}
            <section>
                <h1 class="hidden">Projecten</h1>
        {% for project in projectenlijst %}
                <article class="projectholder">
                    <h1 class="hidden">{{project.naam}}</h1>
                    <div class="link"> <a href="../{{project.url}}">{{project.naam}}</a></div>
                    <div class="innerprojectholder">
                        <!-- <div class="projectThumb"> <img alt="{{project.naam}}" src="Portfolio/{{project.imgPath}}"></div> -->
                        <iframe src="../{{project.url}}"> </iframe>
                        <p>Opgave  : <br>{{project.omschrijving}}</p>
                    </div>
                    <div class="srclink">  <a href="{{project.srcPath}}">Klik hier voor source code</a></div>
                    
                    
                </article>
        {% endfor %}
            </section>
        </div>
    </body>
</html>

